:root {
    --bg-color: #272727;
    --foreground-color: #353434;
    --accent-color: #82CC5F;
}

body {
    background: var(--bg-color);
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: var(--accent-color);
}

#header {
    background-color: var(--foreground-color);
    padding: 1px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

#header-right-side {
    display: flex;
    align-items: center;
}

#search {
    background-color: var(--foreground-color);
    padding: 0px 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--accent-color);
    height: 40px;
    margin-right: 20px;
    color: white;
    font-size: 15px;
}

#search:focus {
    outline: none;
}


.div-selection {
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin: 0px 7px;
    font-weight: 700;
    cursor: pointer;
}

.div-selection:hover {
    background-color: var(--accent-color);
    filter: brightness(90%);
    color: var(--foreground-color);
}

.active {
    background-color: var(--accent-color);
    color: var(--foreground-color);
}

#profile {
    gap: 10px;
    display: grid;
    margin-top: 10px;
}

.profile-child {
    padding: 0px 20px;
    background-color: var(--foreground-color);
    border-radius: 10px;
}

#user-info {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 840px;
    max-width: 300px;
    min-width: 300px;
    text-align: center;
}

#login {
    font-size: 40px;
    font-weight: 700;
}

#level-label {
    fill: var(--accent-color);
    font-family: sans-serif;
    font-size: 0.2em;
    text-anchor: middle;
}

#level {
    fill: var(--accent-color);
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.circle {
    stroke: var(--accent-color);
    transition: all 0.5s ;
}

.label {
    font-size: 20px;
    font-weight: 700;
}

.data {
    font-size: 40px;
    margin-top: -10px;
    text-align: center;
}

#percentage {
    font-size: 20px;
    margin-top: -10px;
}

#graph1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}

#graph2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}